<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>MAD</title>
    <link rel="shortcut icon" href="favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="css/bootflat.min.css">
    
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    
    
    
    <script type="text/javascript" src="js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  </head>
  <body class="home">
    <div class="docs-header header--noBackground">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation" style="background-color:#ECF0F1">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="https://d320jcjashajb2.cloudfront.net/media/cache/7b/a8/7ba8686b8928ec824bf5ecd871b005aa.png" height="40"></a>
          </div>
          <div class="collapse navbar-collapse">

          </div>
        </div>
      </nav>
      
      <div id="learn-more" class="desc container" ng-controller="ecommerceSubmissions">
        <div class="desc__features">
          <div class="row">
             <div class="col-md-3 ">
                 <div class="row filter-by affix right-sidebar" >
                     
                     <span class="lead ">Sort By:</span>
                     <hr class="dashed"/>
                     <input ng-model="orderByModel" value="price" type="radio" name="search-type"> Price 
                     &nbsp&nbsp&nbsp
                     <input ng-model="orderByModel" value="rating" type="radio" name="search-type"> Rating
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     &nbsp&nbsp&nbsp
                     <br/><br/><br/><br/>
                     <span class="lead ">Price Range:</span>
                     <hr class="dashed"/>

                     <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
                     Min : <input class="price-input" type="number" ng-model="minRangeSlider.minValue" />
                        
                     <div class="price-input-right">
                         Min :  <input class="prince-input-right-input" type="number" ng-model="minRangeSlider.maxValue" />
                     </div> 
                        
                    <br/><br/><br/><br/>
                    <span class="lead ">Site Data:</span>
                    <hr class="dashed"/>
                    Total product count: &nbsp <b>{{submissions.length}}</b>    
                    <br/>
                    Api hits: &nbsp <b>{{apiHits}}</b>
                     
                 </div>
             </div>


             <div class="col-md-9 left-sidebar">
                <br/>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group form-search">
                            <input id="searchQuery" type="text" class="form-control search-query" placeholder="Search (by name or category)" ng-model="query">
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"  data-type="last">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                
                <hr class="dashed"/>

                <div class="row code-panel">
                    <div class="col-md-12 height-check">
                            
                            <div class="col-sm-6 col-md-3" ng-repeat="item in submissions | filter: customFilter:priceFilter | orderBy:orderByModel " ng-init="parseId(item)">
                                <div class="thumbnail">
                                    <img class="img-rounded" ng-src="{{item.image}}">
                                    <div class="caption text-center">
                                        <div style="text-align:left">
                                            {{item.name}} 
                                            <br/>
                                            <div class="rating-div">
                                                <span class="label label-success">{{item.rating}} ★</span>
                                                <div style="text-align:right;margin-top: -20px;">
                                                    <span class="label label-primary"><i class="fa fa-tag" aria-hidden="true"></i>{{ item.category == 0 ? 'Apparel':'Accessories'}}</span>
                                                </div>
                                            </div>
                                            <br />
                                            <b>₹{{item.price}} &nbsp</b>
                                            <br/>
                                            <span class="lead thmb-title">Availability({{item.quantity == 0 ? 'Sold Out':item.quantity }}):</span><br/>
                                            <div class="color-div" style="background-color: {{item.color}} ; width:20px;" >&nbsp</div>
                                        </div>
                                        </br>
                                        <textarea disabled class="form-control" rows="4">{{item.description}}</textarea>
                                    <br/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
