 <div class="panel panel-default" ng-repeat="item in submissions">
    <div class="panel-heading">
        <img src="https://hackerearth.0x10.info/dump/jda/language_icons/cpp.png" class="lng-logo inline"/>
        <h3 class="panel-title inline">573E - Bear and Bowling{{title}}</h3>
        
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="8"></textarea>
        <br/>
        <span class="label label-success">Normal | C++</span>&nbsp;
        <div class="blank"></div>
        <span class="label label-warning">Normal | C++</span>&nbsp;
        <div class="blank"></div>
        <span class="label label-danger">Normal | C++</span>
    </div>
</div>